.pomoguColor, .activeColor {
  color: #8b424c;
}

* {
  margin: 0;
  border: 0;
  background-color: transparent;
  font-family: "Golos Text", sans-serif;
  box-sizing: border-box;
  padding: 0;
}
* a {
  color: #000;
  text-decoration: none;
}
* input {
  border-bottom: 1px solid #7c7c7c;
}
* input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
* input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
* input[type=search]::-webkit-search-decoration,
* input[type=search]::-webkit-search-cancel-button,
* input[type=search]::-webkit-search-results-button,
* input[type=search]::-webkit-search-results-decoration {
  display: none;
}

html {
  font-size: 8px;
  overflow-x: hidden;
}
@media screen and (max-width: 432px) {
  html {
    font-size: 6.9px;
  }
}

body {
  overflow-x: hidden;
}

.mainContainer {
  width: 149.2rem;
}
@media screen and (max-width: 1232.8px) and (min-width: 880px) {
  .mainContainer {
    width: 110rem;
  }
}
@media screen and (max-width: 880px) and (min-width: 640px) {
  .mainContainer {
    width: 80rem;
  }
}
@media screen and (max-width: 640px) and (min-width: 432px) {
  .mainContainer {
    width: 54rem;
  }
}
@media screen and (max-width: 432px) {
  .mainContainer {
    width: 100vw;
    padding: 5vw;
  }
}

.Hs1 {
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 7.7rem;
  display: inline-block;
}

.Hs2 {
  font-size: 3.6rem;
  font-weight: 800;
  margin-bottom: 4.4rem;
  display: inline-block;
}

.sM {
  font-size: 2.4rem;
}

.grayButton {
  font-size: 2.4rem;
  color: #7c7c7c;
  text-decoration: underline;
  display: block;
}

.baseBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 4rem;
}
@media screen and (max-width: 432px) {
  .baseBlock {
    width: 90vw;
  }
}

.blockShadow {
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.09);
}

.blockRedBorder {
  border: 1px solid #8b424c;
}

.mainCols {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50rem, 72.3rem));
  grid-column-gap: 2.7rem;
  grid-row-gap: 2.7rem;
}

header {
  font-size: 2.4rem;
  height: 10.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 10rem;
}
header .logo {
  width: 22.5rem;
}
header .headerButtons {
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48.9rem;
}
@media screen and (max-width: 880px) {
  header .headerButtons {
    width: 25.7rem;
  }
}
header .headerButtons .headerButtonsSmall {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 19rem;
}
@media screen and (max-width: 880px) {
  header .headerButtons .headerButtonsSmall {
    width: 17rem;
  }
}
header .headerButtons .headerButtonsSmall img {
  height: 2.4rem;
}
header .headerButtons .headerButtonsAvatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17.2rem;
}
@media screen and (max-width: 880px) {
  header .headerButtons .headerButtonsAvatar {
    width: 5rem;
  }
  header .headerButtons .headerButtonsAvatar span {
    display: none;
  }
}
header .headerButtons .headerButtonsAvatar img {
  width: 5rem;
}

footer {
  margin-top: 13.2rem;
  height: 13.2rem;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 432px) {
  footer {
    margin-top: 8rem;
  }
}
footer .mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .mainContainer .creditsAndDesc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
  flex-direction: column;
  width: 31.5rem;
  height: 100%;
  font-size: 1.8rem;
}
@media screen and (max-width: 432px) {
  footer .mainContainer .creditsAndDesc {
    width: 25.5rem;
  }
}
footer .mainContainer .creditsAndDesc span {
  color: #989898;
}
footer .mainContainer .creditsAndDesc a {
  color: #000;
}
footer .mainContainer .social {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 14.9rem;
}
@media screen and (max-width: 432px) {
  footer .mainContainer .social {
    width: 11.9rem;
  }
}
footer .mainContainer .social img {
  height: 3.4rem;
}
@media screen and (max-width: 432px) {
  footer .mainContainer .social img {
    height: 2.8rem;
  }
}

.mainSlider {
  height: 39.4rem;
  background-color: #fff;
  margin: 3rem auto 0;
}
@media screen and (max-width: 432px) {
  .mainSlider {
    height: 50rem;
  }
}
@media screen and (max-width: 432px) {
  .mainSlider {
    margin: 5.3rem auto 0;
  }
}
@media screen and (max-width: 640px) and (min-width: 440px) {
  .mainSlider {
    display: none;
  }
}
@media screen and (max-width: 1232.8px) and (min-width: 880px) {
  .mainSlider {
    margin: 9rem auto 0;
  }
}
@media screen and (max-width: 880px) and (min-width: 640px) {
  .mainSlider {
    margin: 4rem auto 0;
  }
}
.mainSlider .sliderMech {
  background-color: #fff;
}
.mainSlider .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35.5rem;
  width: 100%;
  background-color: #fff;
}
@media screen and (max-width: 432px) {
  .mainSlider .slider {
    height: 100%;
  }
}
.mainSlider .slider .sliderTextblock {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
  height: 100%;
  background-color: #fff;
}
@media screen and (max-width: 432px) {
  .mainSlider .slider .sliderTextblock {
    padding: 0;
  }
}
.mainSlider .slider .sliderTextblock .sliderTextblockMain {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 92.9rem;
  height: 26.9rem;
  font-weight: 500;
  background-color: #fff;
}
@media screen and (max-width: 432px) {
  .mainSlider .slider .sliderTextblock .sliderTextblockMain {
    height: 100%;
  }
}
@media screen and (max-width: 1232.8px) and (min-width: 880px) {
  .mainSlider .slider .sliderTextblock .sliderTextblockMain {
    width: 63rem;
    margin-left: 5rem;
  }
  .mainSlider .slider .sliderTextblock .sliderTextblockMain .H {
    font-size: 4.5rem !important;
    margin-bottom: 7.2rem !important;
  }
  .mainSlider .slider .sliderTextblock .sliderTextblockMain .P {
    font-size: 3.3rem !important;
  }
}
@media screen and (max-width: 880px) and (min-width: 640px) {
  .mainSlider .slider .sliderTextblock .sliderTextblockMain {
    margin-left: 3rem;
    width: 40rem;
    height: 25rem;
  }
  .mainSlider .slider .sliderTextblock .sliderTextblockMain .H {
    font-size: 3.7rem !important;
    margin-bottom: 5.1rem !important;
  }
  .mainSlider .slider .sliderTextblock .sliderTextblockMain .P {
    font-size: 2.5rem !important;
  }
}
@media screen and (max-width: 432px) {
  .mainSlider .slider .sliderTextblock .sliderTextblockMain {
    width: 90vw;
  }
  .mainSlider .slider .sliderTextblock .sliderTextblockMain .H {
    font-size: 5rem !important;
    margin-bottom: 3rem !important;
  }
  .mainSlider .slider .sliderTextblock .sliderTextblockMain .P {
    font-size: 3.5rem !important;
  }
}
.mainSlider .slider .sliderTextblock .sliderTextblockMain .H {
  margin-bottom: 7.3rem;
  font-size: 5.5rem;
}
.mainSlider .slider .sliderTextblock .sliderTextblockMain .P {
  font-size: 3.8rem;
}
.mainSlider .slider .sliderTextblock .sliderTextblockA {
  position: fixed;
  bottom: 5rem;
  right: 0;
  width: 92.9rem;
  height: 3.8rem;
  text-align: right;
  font-size: 2.4rem;
  text-decoration: underline;
}
@media screen and (max-width: 1232.8px) {
  .mainSlider .slider .sliderTextblock .sliderTextblockA {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1232.8px) and (min-width: 880px) {
  .mainSlider .slider .sliderTextblock .sliderTextblockA {
    width: 65rem;
    font-size: 2rem;
  }
}
@media screen and (max-width: 880px) and (min-width: 640px) {
  .mainSlider .slider .sliderTextblock .sliderTextblockA {
    width: 42rem;
  }
}
.mainSlider .slider img {
  width: 44rem;
  max-height: 32rem;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1232.8px) and (min-width: 880px) {
  .mainSlider .slider img {
    width: 40rem;
  }
}
@media screen and (max-width: 880px) and (min-width: 640px) {
  .mainSlider .slider img {
    width: 35rem;
  }
}
@media screen and (max-width: 432px) {
  .mainSlider .slider img {
    display: none;
  }
}
.mainSlider .sliderStatusbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 74px;
  height: 10px;
}
.mainSlider .sliderStatusbar .sliderStatusbarDot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #dadada;
  transition: background-color ease-in 0.3s;
}
.mainSlider .sliderStatusbar .dotOn {
  background-color: #7c7c7c;
}
.mainSlider .swiper-pagination {
  bottom: 0;
  position: relative;
}
@media screen and (max-width: 432px) {
  .mainSlider .swiper-pagination {
    display: none;
  }
}
.mainSlider .swiper-button-next::after, .mainSlider .swiper-button-prev::after {
  color: #fff !important;
}
.mainSlider .swiper-pagination-bullet-active {
  background-color: #7c7c7c;
}

.searchBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 9rem auto;
}
@media screen and (max-width: 432px) {
  .searchBlock {
    display: none;
  }
}
.searchBlock .searchBlockGeneral {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.6rem;
  font-weight: 500;
  width: 121.1rem;
}
@media screen and (max-width: 640px) {
  .searchBlock .searchBlockGeneral {
    width: 26rem;
  }
  .searchBlock .searchBlockGeneral span {
    display: none;
  }
}
@media screen and (max-width: 880px) and (min-width: 640px) {
  .searchBlock .searchBlockGeneral {
    width: 47rem;
  }
}
@media screen and (max-width: 1232.8px) and (min-width: 880px) {
  .searchBlock .searchBlockGeneral {
    width: 77rem;
  }
}
.searchBlock .searchBlockGeneral input {
  height: 3.6rem;
  font-size: 3.6rem;
  font-weight: 500;
  overflow-y: visible;
}
.searchBlock .searchBlockGeneral .inpSearch {
  width: 93.8rem;
}
@media screen and (max-width: 640px) {
  .searchBlock .searchBlockGeneral .inpSearch {
    width: 19.7rem;
  }
}
@media screen and (max-width: 880px) and (min-width: 640px) {
  .searchBlock .searchBlockGeneral .inpSearch {
    width: 19.7rem;
  }
}
@media screen and (max-width: 1232.8px) and (min-width: 880px) {
  .searchBlock .searchBlockGeneral .inpSearch {
    width: 49.7rem;
  }
}
.searchBlock .searchBlockGeneral input:focus {
  outline: none;
  overflow-y: visible;
}
.searchBlock .searchBlockGeneral input[type=submit] {
  height: 25px;
  width: 25px;
  align-self: flex-start;
  background: url("img/search.png") no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
}
.searchBlock .searchBlockLocation {
  margin-right: 4rem;
  font-size: 3rem;
  width: 16.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchBlock .searchBlockLocation img {
  margin-right: 1.8rem;
  height: 2.5rem;
  align-self: flex-start;
}

.categoryBlock {
  height: 20.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 432px) {
  .categoryBlock {
    margin-top: -4rem;
  }
}
.categoryBlock .categoryBlockColumn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 21rem;
  height: 100%;
}
.categoryBlock .categoryBlockColumn a {
  font-size: 3rem;
}

@media screen and (max-width: 880px) and (min-width: 640px) {
  .categoryBlockColumn:nth-child(1) {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .categoryBlockColumn:nth-child(1) {
    display: none;
  }
  .categoryBlockColumn:nth-child(5) {
    display: none;
  }
}
.storiesBlock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 11.7rem auto;
}
@media screen and (max-width: 432px) {
  .storiesBlock {
    margin: 4rem auto;
  }
}
.storiesBlock .storiesBlockGeneral {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 880px) {
  .storiesBlock .storiesBlockGeneral {
    flex-direction: column;
  }
  .storiesBlock .storiesBlockGeneral .storiesBlockOne {
    margin-bottom: 3.5rem;
  }
}
@media screen and (max-width: 640px) {
  .storiesBlock .storiesBlockGeneral {
    align-items: flex-start;
  }
}
.storiesBlock .storiesBlockGeneral .storiesBlockOne {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 27rem;
  width: 45rem;
  border: 2px #8b424c solid;
  border-radius: 20px;
  padding: 3.2rem;
  color: #8b424c;
  font-size: 3rem;
  font-weight: 600;
  text-align: left;
}
@media screen and (max-width: 1232.8px) and (min-width: 880px) {
  .storiesBlock .storiesBlockGeneral .storiesBlockOne {
    height: 32rem;
    width: 35rem;
  }
}
@media screen and (max-width: 640px) and (min-width: 432px) {
  .storiesBlock .storiesBlockGeneral .storiesBlockOne {
    width: 54rem;
  }
}
@media screen and (max-width: 432px) {
  .storiesBlock .storiesBlockGeneral .storiesBlockOne {
    width: 90vw !important;
  }
}
.storiesBlock .storiesBlockGeneral .storiesBlockOne img {
  height: 10rem;
}
.storiesBlock .storiesBlockGeneral .storiesBlockOne dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
.storiesBlock .storiesBlockGeneral .storiesBlockOne dialog:focus {
  outline: none;
}
.storiesBlock .storiesBlockGeneral .storiesBlockOne .storyContainer {
  display: flex;
  width: 100%;
  height: 100%;
}
.storiesBlock .storiesBlockGeneral .storiesBlockOne .storyDialog .storySwiperGeneral {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85rem;
  height: 110rem;
  border: 10rem transparent;
  padding: 20rem;
}
.storiesBlock .storiesBlockGeneral .storiesBlockOne .storyDialog .swiper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.storiesBlock .storiesBlockGeneral .storiesBlockOne .storyDialog .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.storiesBlock .storiesBlockGeneral .storiesBlockOne .storyDialog .swiper-wrapper .swiper-slide {
  background-color: #fff;
  overflow: hidden;
  width: 45rem;
  height: 70rem;
  background: #fff;
  border: 2px solid #8b424c;
  border-radius: 20px;
}
.storiesBlock .storiesBlockGeneral button:focus {
  outline: none;
}
.storiesBlock .H {
  font-size: 4.8rem;
  font-weight: 800;
}

.articlesBlock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
}
.articlesBlock .articlesBlockGeneral {
  margin: 0 auto;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .articlesBlock .articlesBlockGeneral {
    justify-content: flex-start;
  }
}
.articlesBlock .articlesBlockGeneral .articlesBlockOne {
  height: 39.1rem;
  padding: 7.6rem;
  background-color: #fff;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
}
@media screen and (max-width: 432px) {
  .articlesBlock .articlesBlockGeneral .articlesBlockOne {
    width: 90vw !important;
  }
}
@media screen and (max-width: 640px) {
  .articlesBlock .articlesBlockGeneral .articlesBlockOne {
    padding: 4rem 4rem 8rem 4rem;
  }
}
.articlesBlock .articlesBlockGeneral .articlesBlockOne .articlesBlockOneText {
  float: right;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 32rem;
  text-shadow: 0 -2px 3px #FFFFFF, 0 -2px 3px #FFFFFF, 0 2px 3px #FFFFFF, 0 2px 3px #FFFFFF, -2px 0 3px #FFFFFF, 2px 0 3px #FFFFFF, -2px 0 3px #FFFFFF, 2px 0 3px #FFFFFF, -1px -2px 3px #FFFFFF, 1px -2px 3px #FFFFFF, -1px 2px 3px #FFFFFF, 1px 2px 3px #FFFFFF, -2px -1px 3px #FFFFFF, 2px -1px 3px #FFFFFF, -2px 1px 3px #FFFFFF, 2px 1px 3px #FFFFFF, -2px -2px 3px #FFFFFF, 2px -2px 3px #FFFFFF, -2px 2px 3px #FFFFFF, 2px 2px 3px #FFFFFF, -2px -2px 3px #FFFFFF, 2px -2px 3px #FFFFFF, -2px 2px 3px #FFFFFF, 2px 2px 3px #FFFFFF;
}
.articlesBlock .articlesBlockGeneral .articlesBlockOne .articlesBlockOneText .H {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 5rem;
}
.articlesBlock .articlesBlockGeneral .articlesBlockOne .articlesBlockOneText .P {
  font-size: 2.4rem;
}
.articlesBlock .articlesBlockGeneral .articlesBlockOne img {
  max-height: 32.5rem;
  max-width: 32rem;
  align-self: flex-end;
  justify-self: flex-end;
}
.articlesBlock .articlesBlockGeneral #article1 {
  background: url("./img/article1.png") no-repeat;
  background-size: 33.5rem;
  background-position: left bottom;
}
.articlesBlock .articlesBlockGeneral #article2 {
  background: url("./img/article2.png") no-repeat;
  background-size: 33.5rem;
  background-position: left bottom;
}
.articlesBlock .articlesBlockGeneral #article3 {
  background: url("./img/article3.png") no-repeat;
  background-size: 33.5rem;
  background-position: left bottom;
}
.articlesBlock .articlesBlockGeneral #article4 {
  background: url("./img/article4.png") no-repeat;
  background-size: 33.5rem;
  background-position: left bottom;
}/*# sourceMappingURL=index.css.map */