.pomoguColor, .activeColor {
  color: #8b424c;
}

* {
  margin: 0;
  border: 0;
  background-color: transparent;
  font-family: "Golos Text", sans-serif;
  box-sizing: border-box;
}
* a {
  color: #000;
  text-decoration: none;
}
* input {
  border-bottom: 1px solid #7c7c7c;
}

html {
  font-size: 8px;
}

.mainContainer {
  width: 149.2rem;
}

.Hs1 {
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 7.7rem;
}

header {
  font-size: 2.4rem;
  height: 10.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
header .logo {
  width: 22.5rem;
}
header .headerButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48.9rem;
}
header .headerButtons .headerButtonsSmall {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 19rem;
}
header .headerButtons .headerButtonsSmall img {
  height: 2.4rem;
}
header .headerButtons .headerButtonsAvatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17.2rem;
}
header .headerButtons .headerButtonsAvatar img {
  width: 5rem;
}

footer {
  margin-top: 13.2rem;
  height: 13.2rem;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .mainContainer {
  height: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .mainContainer .creditsAndDesc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
  flex-direction: column;
  width: 31.5rem;
  height: 100%;
  font-size: 1.8rem;
}
footer .mainContainer .creditsAndDesc span {
  color: #989898;
}
footer .mainContainer .creditsAndDesc a {
  color: #000;
}
footer .mainContainer .social {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 14.9rem;
}
footer .mainContainer .social img {
  height: 3.4rem;
}

.mainSlider {
  height: 39.4rem;
  margin: 13.3rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.mainSlider .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35.5rem;
  width: 100%;
}
.mainSlider .slider .sliderTextblock {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
}
.mainSlider .slider .sliderTextblock .sliderTextblockMain {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 92.9rem;
  height: 26.9rem;
  font-weight: 500;
}
.mainSlider .slider .sliderTextblock .sliderTextblockMain .H {
  margin-bottom: 5rem;
  font-size: 5.5rem;
}
.mainSlider .slider .sliderTextblock .sliderTextblockMain .P {
  font-size: 3.6rem;
}
.mainSlider .slider .sliderTextblock .sliderTextblockA {
  width: 92.9rem;
  height: 3.8rem;
  text-align: right;
  font-size: 2.4rem;
  text-decoration: underline;
}
.mainSlider .slider img {
  width: 44.2rem;
}
.mainSlider .sliderStatusbar {
  height: 1rem;
}

.searchBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 9rem auto;
}
.searchBlock .searchBlockGeneral {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3.6rem;
  font-weight: 500;
  width: 121.1rem;
}
.searchBlock .searchBlockGeneral input {
  width: 93.8rem;
  height: 3.6rem;
  font-size: 3.6rem;
  font-weight: 500;
}
.searchBlock .searchBlockGeneral input:focus {
  outline: none;
}
.searchBlock .searchBlockGeneral img {
  height: 2.5rem;
  align-self: flex-start;
}
.searchBlock .searchBlockLocation {
  font-size: 3rem;
  width: 16.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchBlock .searchBlockLocation img {
  margin-right: 1.8rem;
  height: 2.5rem;
  align-self: flex-start;
}

.categoryBlock {
  height: 20.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.categoryBlock .categoryBlockColumn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 21rem;
  height: 100%;
}
.categoryBlock .categoryBlockColumn a {
  font-size: 3rem;
}

.storiesBlock {
  height: 38rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 11.7rem auto;
}
.storiesBlock .storiesBlockGeneral {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 27rem;
}
.storiesBlock .storiesBlockGeneral .storiesBlockOne {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 27rem;
  width: 45rem;
  border: 2px #8b424c solid;
  border-radius: 20px;
  padding: 3.2rem;
  color: #8b424c;
  font-size: 3rem;
  font-weight: 600;
}
.storiesBlock .storiesBlockGeneral .storiesBlockOne img {
  height: 10rem;
}
.storiesBlock .H {
  font-size: 4.8rem;
  font-weight: 800;
}

.articlesBlock {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  height: 93.6rem;
}
.articlesBlock .articlesBlockGeneral {
  display: grid;
  grid-template-columns: 74.3rem 74.3rem;
  grid-column-gap: 2.7rem;
  grid-row-gap: 2.7em;
  width: 100%;
  height: 81.6rem;
}
.articlesBlock .articlesBlockGeneral .articlesBlockOne {
  height: 39.1rem;
  padding: 7.6rem;
  background-color: #fff;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
}
.articlesBlock .articlesBlockGeneral .articlesBlockOne .articlesBlockOneText {
  float: right;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  width: 32rem;
}
.articlesBlock .articlesBlockGeneral .articlesBlockOne .articlesBlockOneText .H {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 5rem;
}
.articlesBlock .articlesBlockGeneral .articlesBlockOne .articlesBlockOneText .P {
  font-size: 2.4rem;
}
.articlesBlock .articlesBlockGeneral .articlesBlockOne img {
  max-height: 32.5rem;
  max-width: 32rem;
  align-self: flex-end;
  justify-self: flex-end;
}
.articlesBlock .articlesBlockGeneral #article1 {
  background: url("./img/article1.png") no-repeat;
  background-size: 33.5rem;
  background-position: left bottom;
}
.articlesBlock .articlesBlockGeneral #article2 {
  background: url("./img/article2.png") no-repeat;
  background-size: 33.5rem;
  background-position: left bottom;
}
.articlesBlock .articlesBlockGeneral #article3 {
  background: url("./img/article3.png") no-repeat;
  background-size: 33.5rem;
  background-position: left bottom;
}
.articlesBlock .articlesBlockGeneral #article4 {
  background: url("./img/article4.png") no-repeat;
  background-size: 33.5rem;
  background-position: left bottom;
}/*# sourceMappingURL=index.css.map */