.pomoguColor, .activeColor {
  color: #8b424c;
}

* {
  margin: 0;
  border: 0;
  background-color: transparent;
  font-family: "Golos Text", sans-serif;
  box-sizing: border-box;
  padding: 0;
}
* a {
  color: #000;
  text-decoration: none;
}
* input {
  border-bottom: 1px solid #7c7c7c;
}
* input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
* input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
* input[type=search]::-webkit-search-decoration,
* input[type=search]::-webkit-search-cancel-button,
* input[type=search]::-webkit-search-results-button,
* input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.main {
  margin: 0 auto;
  height: auto;
}

.baseInput {
  height: 6.5rem;
  border: 1px #000000 solid;
  border-radius: 18px;
  padding-left: 3.8rem;
  padding-right: 3.8rem;
  padding-top: 1.72rem;
  padding-bottom: 1.97rem;
  margin-bottom: 3.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.baseInputBig {
  height: 72rem;
}

label {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 2.2rem;
}

html {
  font-size: 8px;
  overflow-x: hidden;
}
@media screen and (max-width: 432px) {
  html {
    font-size: 6.9px;
  }
}

body {
  overflow-x: hidden;
}

.mainContainer {
  width: 149.2rem;
}
@media screen and (max-width: 1232.8px) and (min-width: 880px) {
  .mainContainer {
    width: 110rem;
  }
}
@media screen and (max-width: 880px) and (min-width: 640px) {
  .mainContainer {
    width: 80rem;
  }
}
@media screen and (max-width: 640px) and (min-width: 432px) {
  .mainContainer {
    width: 54rem;
  }
}
@media screen and (max-width: 432px) {
  .mainContainer {
    width: 100vw;
    padding: 5vw;
  }
}

.Hs1 {
  font-size: 4.8rem;
  font-weight: 800;
  margin-bottom: 7.7rem;
  display: inline-block;
}

.Hs2 {
  font-size: 3.6rem;
  font-weight: 800;
  margin-bottom: 4.4rem;
  display: inline-block;
}

.sM {
  font-size: 2.4rem;
}

.rowName {
  font-weight: 600;
  display: inline-block;
}

.rowMain {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.grayButton {
  font-size: 2.4rem;
  color: #7c7c7c;
  text-decoration: underline;
  display: block;
  cursor: pointer;
}
.grayButton a {
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
  display: inherit;
}

.redButton {
  font-size: 2.5rem;
  font-weight: 500;
  color: #ffffff;
  border: #5e191d solid 2px;
  border-radius: 2rem;
  background-color: #8b424c;
  height: 8rem;
  width: 30.9rem;
  display: block;
  cursor: pointer;
}

.whiteButton {
  font-size: 2.5rem;
  font-weight: 500;
  color: #ffffff;
  border: #5e191d solid 2px;
  border-radius: 2rem;
  background-color: #ffffff;
  height: 8rem;
  color: #8b424c;
  width: 30.9rem;
  display: block;
  cursor: pointer;
}

.baseBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 4rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 432px) {
  .baseBlock {
    width: 90vw;
  }
}

.baseBlockClassic {
  flex-direction: column;
  padding: 0;
}
.baseBlockClassic input, .baseBlockClassic select {
  display: block;
}

.blockShadow {
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.09);
}

.blockRedBorder {
  border: 1px solid #8b424c;
}

.mainCols {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50rem, 72.3rem));
  grid-column-gap: 2.7rem;
  grid-row-gap: 2.7rem;
}

header {
  font-size: 2.4rem;
  height: 10.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 10rem;
}
header .logo {
  width: 22.5rem;
}
header .headerButtons {
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48.9rem;
}
@media screen and (max-width: 880px) {
  header .headerButtons {
    width: 25.7rem;
  }
}
header .headerButtons .headerButtonsSmall {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 19rem;
}
@media screen and (max-width: 880px) {
  header .headerButtons .headerButtonsSmall {
    width: 17rem;
  }
}
header .headerButtons .headerButtonsSmall img {
  height: 2.4rem;
}
header .headerButtons .headerButtonsAvatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 17.2rem;
}
@media screen and (max-width: 880px) {
  header .headerButtons .headerButtonsAvatar {
    width: 5rem;
  }
  header .headerButtons .headerButtonsAvatar span {
    display: none;
  }
}
header .headerButtons .headerButtonsAvatar img {
  width: 5rem;
}

footer {
  margin-top: 13.2rem;
  height: 13.2rem;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 432px) {
  footer {
    margin-top: 8rem;
  }
}
footer .mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .mainContainer .creditsAndDesc {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
  flex-direction: column;
  width: 31.5rem;
  height: 100%;
  font-size: 1.8rem;
}
@media screen and (max-width: 432px) {
  footer .mainContainer .creditsAndDesc {
    width: 25.5rem;
  }
}
footer .mainContainer .creditsAndDesc span {
  color: #989898;
}
footer .mainContainer .creditsAndDesc a {
  color: #000;
}
footer .mainContainer .social {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 14.9rem;
}
@media screen and (max-width: 432px) {
  footer .mainContainer .social {
    width: 11.9rem;
  }
}
footer .mainContainer .social img {
  height: 3.4rem;
}
@media screen and (max-width: 432px) {
  footer .mainContainer .social img {
    height: 2.8rem;
  }
}

p {
  font-size: 3rem;
}

.oneMain {
  width: 120.9rem;
}
@media screen and (max-width: 432px) {
  .oneMain {
    width: auto;
  }
}

.oneBlock {
  margin-bottom: 4.4rem;
  width: 100%;
}

.oneHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35.5rem;
  margin-bottom: 7rem !important;
}
@media screen and (max-width: 432px) {
  .oneHead {
    height: auto;
    flex-direction: column;
    margin-bottom: inherit;
  }
}
.oneHead img {
  width: 35.5rem;
  height: 35.5rem;
}
@media screen and (max-width: 432px) {
  .oneHead img {
    width: 20.5rem;
    height: 20.5rem;
    align-self: start;
    margin-bottom: 1.2rem;
  }
}
.oneHead .oneHeadText {
  padding-top: 3rem;
  width: 75.5rem;
  height: 100%;
}
@media screen and (max-width: 432px) {
  .oneHead .oneHeadText {
    width: 90vw;
    height: auto;
  }
}
@media screen and (max-width: 432px) {
  .oneHead .oneHeadText .Hs1 {
    margin-bottom: 3rem;
  }
}
.oneHead .oneHeadText .sM {
  display: inline-block;
  margin-bottom: 1rem;
}
.oneHead .oneHeadText .sM.rowName {
  margin-bottom: 2rem;
}

@media screen and (max-width: 432px) {
  .oneServ {
    flex-direction: column;
    height: auto;
  }
}
.oneServ .oneServText {
  width: 60rem;
  height: 100%;
}
@media screen and (max-width: 432px) {
  .oneServ .oneServText {
    height: auto;
    width: 100%;
  }
}
.oneServ .oneServText .oneServTextH {
  display: inline-block;
  font-size: 3.6rem;
  margin-bottom: 3rem;
}
.oneServ .oneServText .oneServTextP {
  display: inline-block;
  font-size: 2.4rem;
}
.oneServ .oneServAction {
  height: 100%;
  width: 31rem;
}
@media screen and (max-width: 432px) {
  .oneServ .oneServAction {
    height: auto;
    width: 100%;
    margin-top: 5rem;
  }
}
.oneServ .oneServAction .oneServActionPrice {
  font-size: 3.6rem;
  margin-bottom: 3rem;
  display: inline-block;
}

.oneRevHead {
  height: 9.2rem;
  width: 45rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 9rem;
}
.oneRevHead img {
  height: 100%;
}
.oneRevHead .oneRevHeadText {
  height: 100%;
  width: 32rem;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 9rem;
}
.oneRevHead .oneRevHeadText .oneRevHeadTextRate {
  font-weight: 500;
  font-size: 6rem;
}
.oneRevHead .oneRevHeadText .oneRevHeadTextDesc {
  font-weight: 500;
  font-size: 3rem;
}

.oneRevOne {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.oneRevOne .oneRevOneHead {
  height: 11rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 432px) {
  .oneRevOne .oneRevOneHead {
    flex-direction: column;
    margin-bottom: 10rem;
  }
}
.oneRevOne .oneRevOneHead .oneRevOneHeadAuthor {
  height: 100%;
  display: flex;
  align-items: center;
}
.oneRevOne .oneRevOneHead .oneRevOneHeadAuthor img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  justify-self: start;
  margin-right: 5.8rem;
}
.oneRevOne .oneRevOneHead .oneRevOneHeadAuthor .oneRevOneHeadAuthorName {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}
.oneRevOne .oneRevOneText {
  margin-left: 16.8rem;
  margin-top: 2rem;
}
@media screen and (max-width: 432px) {
  .oneRevOne .oneRevOneText {
    margin-left: 0em;
  }
}
.oneRevOne .oneRevOneText span {
  font-size: 3rem;
}

.myReviewBottomRateStars, .oneRevOneHeadRate {
  height: 2.9rem;
  width: 18.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 432px) {
  .myReviewBottomRateStars, .oneRevOneHeadRate {
    align-self: start;
    margin-left: 16.8rem;
    margin-top: 2rem;
  }
}
.myReviewBottomRateStars button, .myReviewBottomRateStars img, .oneRevOneHeadRate button, .oneRevOneHeadRate img {
  height: 100%;
}

.myReview input {
  width: 100%;
  height: 22.8rem;
}
.myReview label {
  font-weight: 600;
  font-size: 3.6rem;
  margin-bottom: 5rem;
  display: inline-block;
}
@media screen and (max-width: 432px) {
  .myReview label {
    font-size: 3rem;
  }
}
.myReview .myReviewBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 432px) {
  .myReview .myReviewBottom {
    flex-direction: column;
    align-items: start;
  }
  .myReview .myReviewBottom .redButton {
    margin-top: 5rem;
  }
  .myReview .myReviewBottom .myReviewBottomRate {
    margin: 0;
  }
  .myReview .myReviewBottom .myReviewBottomRate .myReviewBottomRateStars {
    margin: 0.7rem 0 0 0;
  }
}
.myReview .myReviewBottomRate {
  width: 38.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myReview .myReviewBottomRate label {
  margin-top: 0rem;
  margin-bottom: 0rem;
}/*# sourceMappingURL=one.css.map */