@import '_other.scss';
@import '_mainsource.scss';

.catDescBlock {
    margin: 9.8rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 54*8px) {
        flex-direction: column-reverse;
        margin: 4rem auto;
    }
    //height: 35.5rem;
    .textBlock {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        margin-right: 11rem;
        @media screen and (max-width: 54*8px) {
            margin-right: 0rem;
        }
        //width: 91.2rem;
        height: 100%;
        @media screen and (max-width: 54*8px) {
            margin-top: 5rem;
        }
        .P {
            font-size: 3rem;
        }
    
        @media screen and (max-width: 154.1*8px) {
            .P {
                font-size: 2.4rem;
            }
            .Hs1 {
                font-size: 4rem;
            }
        }



    }
    img {
        border-radius: 20px;
        height: 100%;
        @media screen and (max-width: 110*8px) and (min-width: 54*8px) {
            height: 27rem;
        }
        @media screen and (max-width: 54*8px) {
            height: 20rem;
            width: 100vh;
            border-radius: none;
            object-fit: cover;
        }
    }
}

.resultsBlock {
    margin: 7.8rem auto;
    @media screen and (max-width: 54*8px) {
        margin: 2rem auto;
    }
    .resultsBlockMainpart {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        height: 8.8rem;
        margin-bottom: 3.4rem;
        .sort { 
            width: 47.6rem;
            @media screen and (max-width: 54*8px) {
                width: 80vw;
            }
            height: 3.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span, button {
                font-weight: 500;
                font-size: 1.8rem;
            }
            img {
                margin-left: 0.7rem;
                margin-bottom: 0.3rem;
            }
        }
        span.H {
            font-size: 3rem;
            font-weight: 800;
            margin-bottom: 2rem;
        }
    }


    .resultsBlockListAndFilters {
        display: grid;
        grid-template-columns: 91.2rem 48.9rem;
        grid-column-gap: 9rem;
        @media screen and (max-width: 154.1*8px) {
            grid-template-columns: 81.2rem 48.9rem;
        }
        .resList {
            .resOne {
                min-height: 33.5rem;
                margin-bottom: 4.7rem;
                align-items: center;
                .catAvatar {
                    width: 18.1rem;
                    @media screen and (max-width: 154.1*8px) {
                        width: 10rem;
                    }
                    @media screen and (max-width: 54*8px) {
                        display: none;
                    }
                }
                .catAvatarMobile {
                    width: 14.1rem;
                    display: none;
                    margin-right: 3rem;
                    margin-bottom: 3rem;
                    @media screen and (max-width: 54*8px) {
                        display: block;
                    }
                }
                .descH {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .resOneTextBlock {
                    //margin-top: 4.7rem;
                    display: flex;
                    //justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 50rem;
                    @media screen and (max-width: 54*8px) {
                        width: 100%;
                    }
                    @media screen and (max-width: 54*8px) {
                        margin-bottom: 8.7rem;
                    }

                    min-height: 32.1rem;

                    .H {
                        position: relative;
                        font-size: 3.6rem;
                        font-weight: 500;
                        height: 3.6rem;
                        @media screen and (max-width: 54*8px) {
                            font-size: 2.8rem;
                        }
                    }
                    .rating {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 22.5rem;
                        @media screen and (max-width: 54*8px) {
                            width: 20.8rem;
                        }
                        height: 8rem;
                        .score {
                            width: 8rem;
                            height: 8rem;
                            @media screen and (max-width: 54*8px) {
                                width: 6rem;
                            }
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            span {
                                font-size: 2.4rem;
                                @media screen and (max-width: 54*8px) {
                                   // font-size: 2.4rem;
                                    margin-left: -4rem;
                                }

                                font-weight: 500;
                            }
                            img {
                                height: 2.5rem;
                                width: 2.5rem;
                                @media screen and (max-width: 54*8px) {
                                    height: 2rem;
                                    width: 2rem;
                                }

                            }
                        }

                        
                        span {
                            font-size: 1.8rem;
                            @media screen and (max-width: 54*8px) {
                                font-size: 2.1rem;
                            }
                            font-weight: 500;
                        }
                    }
                    .desc {
                        min-height: 14rem;
                        max-height: 19rem;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-direction: column;
                        .descRow {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 1.8rem;
                            font-weight: 500;
                            @media screen and (max-width: 54*8px) {
                                font-size: 2.1rem;
                            }
                            
                            @media screen and (max-width: 54*8px) {
                                flex-direction: column;
                                margin-bottom: 1rem;
                            }
                            span {
                                align-self: flex-start;
                                text-align: right;
                                @media screen and (max-width: 54*8px) {
                                    text-align: left;
                                }
                            }
                            span.descRowName {
                                font-weight: 800;
                                text-align: left;
                            }
                        }
                    }
                }
                button {
                    height: 2.5rem;
                    width: 2.5rem;
                    align-self: flex-start;
                    img {
                        height: 2.5rem;
                        width: 2.5rem;
                    }
                    @media screen and (max-width: 54*8px) {
                        margin-top: 0.4rem;
                        height: 3rem;
                        width: 3rem;
                        img {
                            height: 3rem;
                            width: 3rem;
                        }
                    }
                }
            }
        }
        .resList:nth-child(1) {
            margin-top: 4rem;
        }
        .filters {
        // ВРЕМЕННО СКРЫТ
        * {
            color:transparent;
            background-color: transparent !important;
        }
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        height: 57rem;
        //background-color: #fff;           
        //box-shadow: 0px 0px 21px rgba(0,0,0,0.09);
        //border-radius: 20px;
        span.M {
            font-weight: 500;
            font-size: 1.8rem;
        }
        }
    }
}